/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 82px
}
h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}
#sophie-bluel-title-link, #sophie-bluel-title-link:visited {
	color: #B1663C;
	cursor:pointer;
}
h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
	font-weight: 100;
	text-transform: uppercase;
	padding-top: 5px;
}
h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
#ul-nav {
	display: flex;
	align-items: center;
	list-style-type: none;
	gap: 26px;
}
#instagram {
width: 20px;
}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}
li:hover {
	color: black;
	font-weight: 600;
	cursor: pointer;
}
a {
text-decoration: none;
color: black;
}
a:visited {
	text-decoration: none;
	color: black;
}
a:hover{
	color: #B1663C;
	cursor: pointer;
	text-decoration: none;
}
.a-li-nav:hover{
	color: black;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	width: 100%;
}
#introduction article {
	flex: 1;
	margin-left: 50px;
}
#introduction h2 {
	margin-bottom: 1em;
}
#introduction p {
	margin-bottom: 0.5em;
	color: #3D3D3D;
}
#filtres {
	display: flex;
	justify-content: center;
	gap: 2%;
	margin: 20px;
}
.filtersButtons {
	font-family: 'syne';
	font-weight: 700;
	font-size: 14px;
	line-height: 16.8px;
	background-color: white;
	color: #1D6154;
	border-radius: 60px;
	padding: 8px 10px;
	border-color: #1D6154;
	border-width: 1px;
	min-width: 98px;
}
.filtersButtons:hover{
	background-color: #1D6154;
	color: white;
	cursor: pointer;
}
.filtersButtons.selected {
	background-color: #1D6154;
	color: white;
	cursor: pointer;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
#gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}
#gallery img {
	width: 100%;
	height: 96%;
}
#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;
}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}
#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}
footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}
#logout {
	display: none;
}

/* ***** PAGE LOG IN ***** */ 

#pageLogin {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
#sectionLogin {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	margin: 0;
}
#titleLogin {
	flex-direction: row;
	justify-content: center;
	width: 100%;
	margin-bottom: 50px;
	font-weight: 500;
	font-size: 36px;
	color: #1D6154;
}
#formLogin {
	display: flex;
	justify-content: center;
	width: 32%;
	flex-direction: column;
	align-items: center;
}
#emailLogin, #passwordLogin {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
	margin: 20px;
}
#label {
	display: flex;
	width: 100%;
	margin: 10px 0;
}
#email, #password {
	width: 100%;
	height: 50px;
	border-color: white;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border-style: none;
} 
#pLogin {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
	color: #3D3D3D;
	margin-bottom: 100px;
	cursor: pointer;
}
#pLogin:hover {
	text-decoration-line: underline;
}
#alertLogin {
	color: red;
	font-weight: bold;
	font-style: italic;
	display: flex;
	width: 150%;
	justify-content: center;
}
#btnLogin {
	margin: 30px;
}
#btnConnecter {
	font-family: 'syne';
	font-weight: 700;
	font-size: 14px;
	line-height: 16.8px;
	background-color: #1D6154;
	color: white;
	border-radius: 60px;
	padding: 10px 30px;
	border-style: none;
	cursor: pointer;
}
/* ***** BANDEAU NOIR ***** */ 

#blackElement {
	display: flex;
	flex-wrap: wrap;
	background-color: black;
	width: 100%;
	height: 50px;
	margin-bottom: 30px;
}
#txtBlackElement {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
#logoMode {
	display: flex;
	align-items: center;
	font-size: 19px;
	padding: 5px 5px 7px 5px;
	cursor: pointer;
}
#modeEdition {
color: white;
padding: 0 20px;
display: flex;
align-items: center;
cursor: pointer;
}
#publier {
color: black;
font-family: 'Work Sans';
background-color: white;
padding: 9px 23px;
border-radius: 20px;
font-size: 13px;
font-weight: 500;
border-style: none;
cursor: pointer;
}
/* ***** BOUTON MODIFIER 2***** */ 

#btnModifier {
	font-family: 'work Sans';
	background-color: white;
	border-style: none;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 20px;
}
#btnModifier_1 {
	font-family: 'work Sans';
	background-color: white;
	border-style: none;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
#logoModifier {
	display: flex;
	align-items: center;
	padding: 5px;
	font-size: 19px;
}
#lienModifier {
	display: flex;
	align-items: center;
}
#lienModifier_1 {
	display: flex;
	align-items: flex-end;
}
#pModifier, #pModifier1 {
	display: flex;
	align-items: center;
}
#lienModifier:hover, #lienModifier_1:hover {
	color: black;
	font-weight: 700;
}
/* ***** MODALE ***** */ 

.modal {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left : 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	animation: fadeIn .5s both;
}
.modal-wrapper {
	overflow: auto;
	width: 705px;
	height: 600px;
	max-width: calc(100vw - 20px);
	max-height: calc(100vh - 20px);
	padding: 20px;
	background-color: white;
	border-bottom: 10px solid;
	border-radius: 10px;
	animation: slideFromTop .5s both;
}
#div-close-back-modal{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
#btn-close-modal{
	background-color: white;
	border-style: none;
	display: flex;
	justify-content: flex-end;
	cursor:pointer;
}
#modalBack {
	background-color: white;
	border-style: none;
	cursor: pointer;
}
#modalBack-logo{
	font-size: 23px;
}
#modalCross{
	background-color: white;
	font-size: 23px;
}
#modal-wrapper1-title, #modal-wrapper2-title{
	color: black;
	font-family: "Work Sans";
	font-weight: 300;
	font-size: 26px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#modal-wrapper1-div-btnAdd{
	display: flex;
	justify-content: center;
	padding: 30px 0 15px 0;
	margin: 0 70px;
	border-top:#B3B3B3 1px solid;
}
#modal1-btnAdd{
	display: flex;
	align-items: flex-end;
	justify-content: center;
	flex-wrap: wrap;
	font-family: "Syne";
	font-weight: 400;
	font-size: 14px;
	color: white;
	background-color: #1D6154;
	border-style: none;
	border-radius: 60px;
	padding: 10px 63px;
	cursor: pointer;
}
#delete-gallery-btn{
	display: flex;
	align-items: flex-end;
	justify-content:center;
	width: 100%;
	padding: 15px 0 30px 0;
	color: #D65353;
	font-family: "Syne";
	font-size: 14px;
	font-weight: 400;
	cursor: pointer;
}
/* Animation modale */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideFromTop {
    from {transform: translateY(-50px) }
    to { transform: translateY(0) }
}
/* ******Travaux**Modale***** */

#modalGallery{
	margin: 40px 70px;
	display: flex;
	flex-wrap: wrap;
	}
#articleModal {
	position: relative;
}
#imgModal {
	position: relative;
	width: 90px;
	z-index: 1;
	margin: 0 0 0 20px;
}
#logosImgModal {
	position: absolute;
	z-index: 2;
	width: 100%;
	display: flex;
	justify-content: flex-end;
}
#moveImgModal{
	color: white;
	background-color: black;
	border-radius: 5px;
	font-size: 17px;
	margin: 4px 2px 4px 4px;
	padding: 4px;
	cursor: pointer;
	display: flex;
	align-items: center;
}
.trashsLogo{
	color: white;
	background-color: black;
	border-radius: 5px;
	font-size: 17px;
	margin:4px 4px 4px 2px;
	cursor: pointer;
	padding: 4px;
	display: flex;
	align-items: center;
}
#editModal {
	font-family: "Work Sans";
	font-weight: 400;
	font-size: 12px;
	display: flex;
	align-items: center;
	margin: 0 10px 10px 20px;
	cursor: pointer;
}
/* *****Ajouter**Photo***** */

#div-Add-Photo-1 {
	height: 170px;
	display: flex;
	justify-content: center;
	background-color: #E8F1F6;
	border-radius: 3px;
	flex-direction: column;
	margin: 70px;
	margin-bottom: 35px;
	align-items: center;
}
#logo-Add-Photo {
	display: flex;
	justify-content: center;
	color: #B9C5CC;
	font-size: 80px;
	font-weight: 100;
}
#divBtnPhoto2{
	width: 100%;
	display: flex;
	justify-content: center;
}
#fileElemForm {
width: 100%;
display: flex;
justify-content: center;
}
#fileElemInput {
	display: none;
}
#fileElemLabel{
	display: flex;
	font-family: "Work Sans";
	font-weight: 500;
	color: #306685;
	background-color: #CBD6DC;
	border-radius: 50px;
	border-style: none;
	padding: 8px 30px;
	cursor: pointer;
	justify-content: center;
	width: 110px;
}
#p1-Add-Photo{
	color: #444444;
	font-size: 10px;
	font-weight: 400;
	display: flex;
	justify-content: center;
	padding: 5px;
}
#div-Add-Photo-2 {
margin: 70px;
margin-top: 0;
}
#formAddPhoto2{
	width: 100%;
}
#labelTitleAddPhoto, #labelCategoryAddPhoto{
	width: 100%;
	display: flex;
	padding: 20px 0;
}
#inputTitleAddPhoto, #chooseCategory{
	width: 100%;
	height: 51px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border-style: none;
}
#chooseCategory{
	cursor: pointer;
}
#divInputAddPhoto{
	width: 100%;
	border-top: 1px solid #B3B3B3;
	margin-top: 40px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
#errorMessage {
	display: none;
	color: red;
	font-style: italic;
	padding-top: 10px;
	width: 100%;
	justify-content: center;
	align-items: center;
}
#submitAddPhoto{
border-style: none;
font-family: "Syne";
font-weight: 600;
font-size: 14px;
width: 45%;
padding: 11px 20px ;
cursor: pointer;
background-color: #A7A7A7;
}
#showUploadPhoto {
	object-fit: contain;
	height: 100%;
}
#submit-contact {
	cursor: pointer;
}